* {
    margin: 0;
    padding: 0;

    font: 11px "Myriad Pro", "Verdana", sans-serif;
}

body {
    background-color: #515151;
}

.header {
    height: 250px;
    margin-top: 10px;
}

.header img {
    float: left;
}

.header_logo_text {
    /*font-size: 25px;
    letter-spacing: -2px;
    line-height: 50px;
    float: left*/
    position: absolute;
    top: 257px;
    font-size: 25px;
}

.menu {
    float: left;
    min-width: 40%;
    margin: 80px 0px 0px 50px;
}

.menu hr {
    color: #444444;
    background-color: #444444;
    height: 1px;
    border: 0px;

    margin: 5px;
    padding: 0px;
}

.menu a:link {
    padding: 0px 20px 0px 20px;

    font-size: 30px;
    text-transform: uppercase;
 }

.content {
    background-color: #996633;
    margin-top: 20px;
    min-height: 500px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
    padding: 10px 0px;
}

.footer {
    margin-top: 10px;
}

.inner {
    margin: 0px auto;
    clear: both;
    width: 940px;
}

.inner h3 {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
}