{% extends "layout.html" %}
{% block body %}
<h1>About WorldRoc</h1>
WorldROC exists to protect children all over the world by eliminating vulnerability through
empowering communities.
<br />
The most horrific dangers affecting children all over the world (i.e. sex trafficking, physical
and sexual abuse, child homelessness etc.) develop in the most economically devastated
areas. Far too often, we think that all we can do to help is simply to send money to those
areas or to just help one child at a time.
<br />
We've found that children fall prey to these dangers as a result of broken families, lack of
education and usually a community that simply doesn't know how to help it's own children.
<br />
We work with and within communities to empower them to understand their rights,
advocate for their children and build a strong society, so that the cycle of poverty ends.

<h2>What we do</h2>
We currently concentrate on our work in Sri Lanka were we operate under the name
Fridsro.
<br />
From decades of working successfully in Sri Lanka, we have learned what it takes to
initiate community-based programs in extremely poor and uneducated areas. We have
developed a vast network of resources and personnel connections with experience
working all over the world in:
<ul>
    <li>Humanitarian Aid (natural disaster, and effects of war)</li>
    <li>Orphan Care</li>
    <li>Community Development and Reconstruction</li>
    <li>Education and Teacher Training</li>
    <li>Livelihood Training</li>
    <li>Dental and Medical Programs</li>
    <li>Community Based Solutions</li>
    <li>Psychosocial Programs for Children</li>
    <li>Small Business Development & Micro Financing</li>
    <li>Organizational Development</li>
</ul>
{% endblock %}