{% extends "layout.html" %}
{% block body %}
<h1>Home</h1>
WorldROC or World Relief Organization for Children has a commitment to bettering the
lives of the most vulnerable children in the world. From physical and mental disabilities to
extreme poverty and prejudice, we are meeting needs and changing lives one community
at a time.

<h2>We know how to help</h2>
We believe that we can end the dangers affecting children in there poor societies by
developing community-based programs that teach local villages and community member
how to stop things before they start. That means focusing on potentially dangerous social
and family issues affecting children before they get out of control. We do this not only to
protect children from current dangers, but also to keep increasing amounts of children from
ever experiencing the life-killing affects of human trafficking or homelessness.
{% endblock %}