<!DOCTYPE html>
<html>
<head>
    <title>WorldRoc - {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='debug.css') }}">/-->

    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>

    <div class="header">
        <div class="inner">
            <img src="{{ url_for('static', filename='wrc_logo_small.png')}}" />
            <img src="{{ url_for('static', filename='logo_text.png')}}" class="logo_text"/>
            <div class="logo_text">
                <!---World <br/> Relief <br/>
                Organization <br/>
                of <br/>Children
                World Relief Organization of Children/--->
            </div>
            <div class="menu">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/projects">Projects</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="inner">
            {% block body %}{% endblock %}
        </div>
    </div>

    <div class="footer">
        <div class="inner">
                <a href="#" class="facebook_link">&nbsp;</a>
                <a href="#" class="paypal_link">&nbsp;</a>
                <a href="#" class="checkout_link">&nbsp;</a>
        </div>
    </div>

</body>
</html>