{% extends "layout.html" %}
{% block body %}
<h1>Projects</h1>
<h2>Fridsro Childrens´ Home</h2>
Founded in 1972, Fridsro Childrens´ Home has become a place of refuge for orphaned and
underprivileged children in Sri Lanka. Over the last 40 years, hundreds of children have found new
hope and a new beginning for their lives. Based on Christian principles, FCH is the result of the
need realized by Swedish missionary Anna Greta Perera when she arrived on the island in 1969.
Anna Greta and her husband Rev. Jacob Perera started the childrens´ home by simply reaching out
to street kids and orphans.
<p>
At WorldROC we think that families should be empowered to stay together, so we use community
based development principals to work with the families whose children are residents with us to
better their situation so that reintegration is possible.
We also help create new families thru foster care and local adoption.
</p>
For more information about the Fridsro work, please visit: <a href="http://www.fridsro.org" target="_blank">www.fridsro.org</a>

<h2>CBR (Community Based Rehabilitation)</h2>
CBR is a program for children and adults that are born with any physical and mental disability, and
the goal is to promote and protect their basic needs and rights within society.
<p>
The Sri Lankan government, NGO's and private companies work in partnership with CBR to
provide community support systems with the vision of equal opportunity for all people with
disabilities.
</p>
The strategy includes 3 steps:
<ul>
    <li>Locate and reach out to disabled people in their homes, and influence their daily lives and
promote their rights within their communities.</li>
    <li>Open up community support systems to include disabled people. These include local
education, health, development and welfare programs (including social services on skills
training, employment, poverty alleviation, children, women and sports programs).</li>
    <li>Empower disabled people so that they can participate in decision-making and help them to
become self-empowered</li>
</ul>

<h2>CINDA</h2>
We recently acquired the operations and facilities of a Sri Lankan organization called CINDA
located up in the Nuwara Eliya region of Sri Lanka, a mountainous area where much of Sri Lanka's
world famous tea is grown and harvested. Unfortunately, this is also one of the most dangerous
areas for children, because while their parents work on the tea fields, their children are usually left
alone or in the care of an elderly family member for long days, making them extremely vulnerable
to physical and sexual abuse. CINDA has developed various day camp and after school programs to
give these children a safe place to go while also at the same time increasing their level of education.
These programs serve some 450 children in this region, which previously was outside of Fridsro
and WorldROC's reach. The addition of this project will mean that we will able to develop this area

as we have other areas within Fridsro's reach. Combining our experience with the connections that
CINDA already has within this community will certainly make a huge difference in further securing
and enhancing the lives of children in this area and ultimately in the country as a whole.
{% endblock %}